<!-- templates/iteration2/iteration2_waterqualitymap.html -->
{% extends "iteration2/iteration2_base.html" %}

{% block title %}Water Quality Map - Melbourne WaterGuard{% endblock %}

{% block content %}
<div class="spacer-quarter"></div>
<h1 class="page-title">Explore Water Quality in Melbourne</h1>
<div class="spacer-quarter"></div>
<p class="page-title-subtext">Curious about water quality near you?</p>
<p class="page-title-subtext">Click on any location on the map to view detailed water composition information and
    explore the historical data for that area.</p>
<p class="page-title-subtext">Let's work together to monitor environmental health and protect our water resources!</p>


<div class="spacer-quarter"></div>
<div class="water-quality-map-container">
    <iframe class="water-quality-map" src="https://netnet120.shinyapps.io/MelbourneWaterQualityMap/"></iframe>
</div>
<div class="spacer"></div>

<!-- Floating instruction box (WIP, maybe not this Iteration) -->
<div class="user-guide" style="display: block;">
    <button class="primary-button" onclick="closeBox()">X</button>
    <script>
        function closeBox() {
            document.querySelector('.user-guide').style.display = 'none';
        }
    </script>
    <div class="content">
        <!-- Title of user guide -->
        <h2 style="text-align: center;">How to use the map?</h2>
        <!-- Content of user guide -->
        <ul>
            <li>Find Key Water Quality Data: Click on a location to see real-time measurements of nitrogen and phosphate
                levels.</li>
            <li>Monitor Trends Over Time: Use the dropdown menu to analyse historical trends for specific chemicals and
                understand their impact on local water health.</li>
            <li>Understand Pollution Levels: Refer to the color-coded gauges to quickly assess if the water quality is
                within safe limits or poses a risk to the environment.
            </li>
        </ul>
    </div>
</div>

{% endblock %}