/* Stylesheet specifically for NP Calculator page */

.calculator-container {
    display: flex;
    flex-direction: column;
    margin: 15px 25%;
    padding: 15px;
    background-color: #E5E5E5;
    height: 80vh;
}

.calculator-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #ebf0f9;
    padding: 5vh 0;
    margin: 5% 0;
    height: auto;
    text-align: center;
}

.calculator-flex {
    flex:1;
    display: flex;
    align-items: center;
    margin: auto;
}

.calculator-progress-bar-background {
    background-color: #525560;
    height: 24px;
    margin: 0 10%;
}

.calculator-progress-bar {
    background-color: #70C174;
    margin: 0;
    border: 0;
    padding: 0 10px;
    height: 24px;
    text-align: right;
}

.icon-coloredman {
    width: 100px;
    height: 100px;
    background-image: url('/static/Calculator-Coloredman.png');
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-outlinedman {
    width: 100px;
    height: 100px;
    background-image: url('/static/Calculator-Uncoloredman.png');
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-laundry {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('/static/Calculator-Laundry.png');
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-dishwashing {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('/static/Calculator-Dishwashing.png');
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.results-background {
    background-image: url('/static/Calculator-Results\ Backgound.png');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.calculator-answer-textinput {
    margin: 0 auto 10px auto;
    width: 100%;
    max-width: 30%;
    height: 40px;
}



.calculator-button-container {
    padding: 0 20%;
    display: flex;
    justify-content: space-around;
}

.cal-button-tall {
    font-weight: bold;
    font-size: large;
    padding: 30px 15px;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    background-color: #70c174;
}

.cal-button-short {
    font-weight: bold;
    font-size: large;
    padding: 15px 15px;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    background-color: #70c174;
}

.calculator-ask-people {
    width: 500px;
    height: 100px;
}