/* Stylesheet specifically for NP Calculator page */
/* TODO: change color scheme to blue */

.calculator-container {
    display: flex;
    flex-direction: column;
    margin: 15px 25%;
    padding: 15px;
    background-color: #E5E5E5;
    min-height: 80vh;
}

.calculator-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #ebf0f9;
    padding: 5vh 0;
    margin: 5% 0;
    height: auto;
    text-align: center;
}

.horizontal-line {
    width: 70%;
    margin: 0 auto;
    height: 5px;
    background-color: black;
    border: none;
}

.calculator-flex {
    flex:1;
    display: flex;
    align-items: center;
    margin: auto;
}

.calculator-flex-results {
    flex:1;
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.calculator-two-rows{
    flex: 1;
    display: grid;
    padding: auto 0;
    grid-template-rows: 1fr 1fr;
}

.calculator-progress-bar-background {
    background-color: #525560;
    height: 24px;
    margin: 0 10%;
}

.calculator-progress-bar {
    background-color: #0F53A8;
    margin: 0;
    border: 0;
    padding: 0 10px;
    height: 24px;
    text-align: right;
    color: #FFFFFF;
}

.half-interactive-area{
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-coloredman {
    width: 100px;
    height: 100px;
    background-image: url('/static/npcal_images/Calculator-Coloredman.png');
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-outlinedman {
    width: 100px;
    height: 100px;
    background-image: url('/static/npcal_images/Calculator-Uncoloredman.png');
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-laundry {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('/static/npcal_images/Calculator-Laundry.png');
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.icon-laundry::before{
    content: "LAUNDRY";
    position: absolute;
    top: -35px;
    left: 0;
    background-color: #525560;
    color: white;
    padding: 1px 10px;
    border-radius: 5px;
    text-align:left;
}

.icon-dishwashing {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('/static/npcal_images/Calculator-Dishwashing.png');
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.icon-dishwashing::after{
    content: "DISHWASHING";
    position: absolute;
    top: -35px;
    left: 0%;
    background-color: #525560;
    color: white;
    padding: 1px 10px;
    border-radius: 5px;
}

.results-background {
    background-image: url('/static/npcal_images/Calculator-Results\ Backgound_v2.png');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
}

#np-cal-results-text {
    margin: 0 10%;
}

.calculator-answer-textinput {
    margin: 0 auto 10px auto;
    width: 100%;
    max-width: 30%;
    height: 40px;
    text-align: center;
}

.calculator-answer-textinput-medium {
    margin: 0 10px;
    width: 100%;
    max-width: 20%;
    height: 30px;
    text-align: center;
}

.calculator-answer-textinput-short {
    margin: 0 10px;
    width: 100%;
    max-width: 10%;
    height: 30px;
    text-align: center;
}

.cal-text-between-buttons{
    margin: 0 15px;
}

.calculator-button-container {
    padding: 0 20%;
    display: flex;
    justify-content: space-around;
}

.cal-button-tall {
    font-weight: bold;
    font-size: large;
    padding: 30px 15px;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    background-color: #0F53A8;
}

.cal-button-short {
    font-weight: bold;
    font-size: large;
    padding: 15px 15px;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    background-color: #0F53A8;
}