<!-- templates/testpage.html -->
{% extends "base.html" %}

{% block title %}Choose the right product - Melbourne WaterGuard{% endblock %}

{% block content %}
    <div class="spacer"></div>
    
    <div class="container-20 education-page">
        <div class="content">
            <p class="page-title">Choose Eco-Friendly Cleaning Products to Protect Melbourne’s Water Resources</p>
            
            <div class="spacer-half"></div>

            <div style="display: flex; gap: 16px; margin: auto;">
                <div style="display: flex; align-items: center;">
                    <img src="{{ url_for('static', filename='AQ.png') }}" alt="Tick Icon" style="width: 20px; height: 20px; margin-right: 8px;">
                    <span>Phosphate-Free</span>
                </div>
            
                <div style="display: flex; align-items: center;">
                    <img src="{{ url_for('static', filename='AQ.png') }}" alt="Tick Icon" style="width: 20px; height: 20px; margin-right: 8px;">
                    <span>Nitrogen-Free</span>
                </div>
            </div>

        </div>
    </div>

    <div class="two-column container-20">
        <div class="two-column-first" style=" background-color: lightblue; padding: 10px; border-radius: 5%;">
            <div class="text-section-question">Buy products which DO NOT contain phosphorus</div>
            <div class="text-section-content">Look for these words: <span style="font-weight: bold;">Zeolite, Alternative Builders, phosphorus- or phosphate-free</span></div>
        </div>
        <div class="two-column-second" style=" background-color: lightblue; padding: 10px; border-radius: 5%;">
            <div class="text-section-question">AVOID products which contain phosphorus</div>
            <div class="text-section-content">Look for these words: <span style="font-weight: bold;">STPP (sodium tri-polyphosphates), polyphosphates, phosphate builders</span></div>
        </div>
    </div>

    <div class="container-20 education-page">
        <div class="content text-section ">
            <p class="text-section-question">Recommended Products</p>
            <p class="text-section-content" style="margin: auto;"> Below are our top picks for eco-friendly cleaning products that ensure your daily cleaning routine doesn’t add extra burden to the environment.</p>
        </div>
    </div>

    <div class="product-recommendation">
        <div class="product-item">
            <img src="{{ url_for('static', filename='MG1.png') }}" alt="">
            <h3 class="product-title">Phosphate-Free Detergent</h3>
            <p><strong>Earth Choice Dishwashing Liquid</strong></p>
            <p>Ingredients: Water, Purified, Sodium Laureth Sulfate, Sodium Chloride, Coco-Glucoside, Cocamidopropyl Betaine, Cocamide Oxide, Fragrance, Benzisothiazolinone, Caramel.</p>
        </div>

        <div class="product-item">
            <img src="{{ url_for('static', filename='MG3.png') }}" alt="">
            <h3 class="product-title">Nitrogen-Free cleaner</h3>
            <p><strong>EnviroClean Plant Based Mould Remover & Tile Cleaner</strong></p>
            <p>Ingredients: Purified Water, Plant Based Surfactants, Dicarboxylic Acid, Glycolic Acid, Cinnamon Bark Oil, Lemon Myrtle Oil, Australian Eucalyptus Oil.</p>
        </div>
{% endblock %}
