<!-- templates/homepage.html -->
<!-- Used for the route "/"  -->
{% extends "base.html" %}

{% block title %}Home - Melbourne WaterGuard{% endblock %}

{% block content %}
    <div class="spacer"></div>

    <!-- Homepage Thumbnail -->
    <div class="container">
        <div class="content home-thumbnail-text image-background" style="background-image: url('/static/homepage-thumbnail-background.jpg');">
            <div class="text-section">
                <h1>Protect Our Water Resources by Reducing Nutrient Pollution</h1>
                <p>Learn how nutrient pollution impacts Melbourne's water quality and take action to safeguard our future.</p>
                <button>Explore Local Water Quality</button>
            </div>
        </div>
    </div>

    <div class="spacer"></div>

    <!-- What is Nutrient Pollution -->
    <div class="container">
        <div class="content twotext-to-oneimage">
            <div class="text-section">
                <p class="text-section-title">Know about us</p>
                <h2 class="text-section-question">What is Nutrient Pollution?</h2>
                <p class="text-section-content">Nutrient pollution occurs when an excess of nutrients, primarily nitrogen and phosphorus, enter water bodies.</p>
                <p class="text-section-content">These nutrients, often from sources like argricultural runoff, sewage and industrial waste, act as fertilizers in the water, leading to the overgrowth of algae. This excessive algae growth can harm water quality, disrupt aquatic ecosystems, and create dead zones where life cannot survive.</p>
                <button>Learn More</button>
            </div>
            <div class="image-section">
                <img src="../static/dead_fish.jpg" />
            </div>
        </div>
    </div>

    <div class="spacer"></div>

    <!-- What Can You Do -->
    <div class="container" style="background-color: #EEE;">
        <div class="content twotext-to-oneimage">
            <div class="text-section">
                <p class="text-section-title">What we do</p>
                <h2 class="text-section-question">What can you do?</h2>
                <p class="text-section-content">By making simple everyday choices, such as opting for eco-friendly products and reducing use of these products, you can significantly reduce nutrient pollution and help protect our water resources.</p>
            
                <ul>
                    <li>
                        <p class="list-item-icon">icon</p>
                        <div class="list-item-container">
                            <h3 class="list-item-title">Use Eco-Friendly Products</h3>
                            <p class="list-item-content">Choose phosphorus-free and low-nitrate detergents, soaps and cleaning products to minimise nutrient runoff into the sewage system.</p>
                        </div>
                    </li>

                    <li>
                        <p class="list-item-icon">icon</p>
                        <div class="list-item-container">
                            <h3 class="list-item-title">Dispose of Waste Properly</h3>
                            <p class="list-item-content">Dispose of household chemicals and medications at designated facilities.</p>
                        </div>
                    </li>

                    <li>
                        <p class="list-item-icon">icon</p>
                        <div class="list-item-container">
                            <h3 class="list-item-title">Limit water usage</h3>
                            <p class="list-item-content">Reduce the amount of waste water that waterplants have to process.</p>
                        </div>
                    </li>

                    <li>
                        <p class="list-item-icon">icon</p>
                        <div class="list-item-container">
                            <h3 class="list-item-title">Share the knowledge with others</h3>
                            <p class="list-item-content">Let your friends and family know about nutrient pollution, and get them to join your action.</p>
                        </div>
                    </li>
                </ul>
            
            </div>
            <div class="image-section">
                <img src="../static/pexels-cottonbro-4108670.jpg" />
            </div>
        </div>

    </div>
{% endblock %}