<!-- templates/homepage.html -->
<!-- Used for the route "/"  -->
{% extends "base_v2.html" %}

{% block title %}Home - AquaGuard{% endblock %}

{% block head %}
<!-- Put stuff for head tags here -->
{% endblock %}

{% block content %}
<div class="spacer"></div>

<!-- Homepage Thumbnail -->
<div class="container">
    <div class="content image-background home-thumbnail home-thumbnail-slideshow">
        <div class="home-thumbnail-text">
            <h1 style="-webkit-text-stroke: 1px #525560;">
                No <span class="stop-sign">N</span>utrient <span class="stop-sign">P</span>ollution</h1>
        </div>
    </div>
</div>

<!-- Preload images used for slideshow background -->
<link rel="preload" href="/static/homepage_images/homepage thumbnail_v3.png" as="image">
<link rel="preload" href="/static/homepage_images/homepage_algae-shoreline.png" as="image">
<link rel="preload" href="/static/homepage_images/homepage_hand-full-of-moss.png" as="image">

<div class="spacer-double"></div>

<!-- Education promotion
<div class="container">
    <div class="content twotext-to-oneimage">
        <div class="text-section">
            <p class="text-section-title">Know about us</p>
            <h2 class="text-section-question">Do you know how scary Nutrient Pollution can be?</h2>
            <p class="text-section-content">Nutrient pollution occurs when an excess of nutrients, primarily nitrogen
                and phosphorus, enter water bodies.</p>
            <p class="text-section-content">These nutrients, often from sources like argricultural runoff, sewage and
                industrial waste, act as fertilizers in the water, leading to the overgrowth of algae. This excessive
                algae growth can harm water quality, disrupt aquatic ecosystems, and create dead zones where life cannot
                survive.</p>
            <button class="primary-button" onclick="window.location.href='{{ url_for('learnmore') }}'">Learn
                More</button>
        </div>
        <div class="image-section">
            <img src="../static/dead_fish.jpg" />
        </div>
    </div>
</div>
<div class="spacer"></div> -->

<!-- ????? -->
<!-- <img src="../static/homepage_random part under thumbnail.png" style="width: 100%;">
<div class="spacer-half"></div> -->

<!-- NP Calculator Promotion -->
<!-- <div class="container-60 promotion" style="background-color: #F2F6EF; margin: 10%;">
    <img src="../static/homepage-icons8-calculator-100.png" style="height: 150px; width: 150px;">
    <p class="text-section-question" style="text-align: center; margin: 0;">Understand Your Impact</p>
    <p style="text-align: center; margin: 0 0 10px 0">Quantify your environmental footprint</p>
    <button class="primary-button" onclick="window.location.href='{{ url_for('npcalculator') }}'">Find your NP
        Footprint</button>
</div> -->

<!-- Product Search promotion -->
<div class="container">
    <div class="content twotext-to-oneimage">
        <div class="text-section">
            <p class="text-section-title">Make a change</p>
            <h2 class="text-section-question">Help me choose the right cleaning product</h2>
            <p class="text-section-content">By using phosphate-free or low-phosphate cleaning products and making
                environmentally friendly choices in your daily life, you can help protect water resources and reduce
                your environmental impact.</p>
            <div class="spacer-half"></div>
            <button class="primary-button" onclick="window.location.href='{{ url_for('productsearch') }}'">Search
                Products</button>
        </div>
        <div class="image-section">
            <img src="../static/homepage_images/Homepage - Cleaning Window.png" />
        </div>
    </div>
</div>

<div class="spacer"></div>

<!-- Other functions promotion -->
<div class="container">
    <div class="content onetext-above-threeimage">
        <div class="text-above">
            <p class="text-section-title">What else?</p>
            <h2 class="text-section-question">See What Else Can You Do</h2>
        </div>
        <div class="image-below">
            <!-- Card 1 -->
            <div class="homepage-card" style="background-image: url('static/homepage_images/Homepage Card - Water Quality.png');">
                <!-- Row 1 Title -->
                <h2>Explore Nearby Water Quality</h2>
                <!-- Row 2 Short sentence -->
                <p>View Nitrates and Phosphates in Melbourne's waters and understand how they affect you</p>
                <!-- Row 3 Blank -->
                <div></div>
                <!-- Row 4 Nav button -->
                <div><button class="secondary-button"
                        onclick="window.location.href='{{ url_for('waterqualitymap') }}'">See More</button></div>
            </div>
            <!-- Card 2 -->
            <div class="homepage-card" style="background-image: url('static/homepage_images/Homepage Card - Fish Population.png');">
                <!-- Row 1 Title -->
                <h2>Checkout How Fishes Are Affected</h2>
                <!-- Row 2 Short sentence -->
                <p>View how the fish population in nearby water bodies with the interactive map</p>
                <!-- Row 3 Blank -->
                <div></div>
                <!-- Row 4 Nav button -->
                <div><button class="secondary-button" onclick="window.location.href='{{ url_for('fishexplorer') }}'">See
                        More</button></div>
            </div>
            <!-- Card 3 -->
            <div class="homepage-card" style="background-image: url('static/homepage_images/Homepage Card - Sewage System.png');">
                <!-- Row 1 Title -->
                <h2>Test Your Knowledge</h2>
                <!-- Row 2 Short sentence -->
                <p>Get to know how household sewage are treated and if you are disposing of your wastewater correctly
                </p>
                <!-- Row 3 Blank -->
                <div></div>
                <!-- Row 4 Nav button -->
                <div><button class="secondary-button" onclick="window.location.href='{{ url_for('learnmore') }}'">See
                        More</button></div>
            </div>
        </div>
    </div>
</div>

<div class="spacer"></div>



{% endblock %}