<!-- templates/npcalculator.html -->
{% extends "base_v2.html" %}

{% block title %}NP Calculator - AquaGuard{% endblock %}

{% block content %}

<div class="spacer-half"></div>

<div class="calculator-container">
    <!-- Question 1 -->
    <!-- Ask the user about number of people in the household -->
    <div class="calculator-content" id="np-cal-people">
        <div class="calculator-progress-bar-background">
            <div class="calculator-progress-bar" style="width: 25%">25%</div>
        </div>
        <div class="calculator-progress-number">Question 1 / 3</div>
        <hr class="horizontal-line" />
        <div class="calculator-question">How many people are in your household?</div>
        <div class="calculator-flex calculator-answer-interactive">
            <button class="cal-button-tall" onclick="reducePeople()">-</button>
            <span id="calculator-ask-people-icons">
                <span class="icon-coloredman"></span>
                <span class="icon-outlinedman"></span>
                <span class="icon-outlinedman"></span>
                <span class="icon-outlinedman"></span>
                <span class="icon-outlinedman"></span>
            </span>
            <button class="cal-button-tall" onclick="addPeople()">+</button>
        </div>
        <input class="calculator-answer-textinput" type="number" id="np-cal-people-textinput"
            onchange="changePeopleIcons()" autofocus min="1" max="5">
        <div class="calculator-button-container">
            <button class="primary-button-blue" id="cal-q1-to-home" onclick="goToHomepage()">HOME</button>
            <button class="primary-button-blue" id="cal-q1-to-q2" onclick="goToQuestion2()">NEXT</button>
        </div>
    </div>

    <!-- Question 2 -->
    <!-- Ask the user about the frequency of washing (ie frequency of using detergents) -->
    <div class="calculator-content" id="np-cal-freq">
        <div class="calculator-progress-bar-background">
            <div class="calculator-progress-bar" style="width: 50%">50%</div>
        </div>
        <div class="calculator-progress-number">Question 2 / 3</div>
        <hr class="horizontal-line" />
        <div class="calculator-question">How frequently do you wash dishes or clothes?</div>
        <div class="calculator-two-rows calculator-answer-interactive" id="calculator-ask-frequency">
            <!-- Laundry -->
            <!-- TODO: Write the functions and change onclick -->
            <div class="half-interactive-area">
                <span class="icon-laundry"></span>
                <button class="cal-button-short" onclick="reduceLaundryNumload()">-</button>
                <input class="calculator-answer-textinput-short" id="np-cal-freq-laundry-numload-textinput"
                    type="number" min="1" max="366">
                <button class="cal-button-short" onclick="addLaundryNumload()">+</button>
                <span class="cal-text-between-buttons"> LOADS PER </span>
                <button class="cal-button-short" onclick="reduceLaundryInterval()">-</button>
                <select class="calculator-answer-textinput-short" id="np-cal-freq-laundry-interval-dropdown">
                    <!-- Options are populated with functions -->
                </select>
                <button class="cal-button-short" onclick="addLaundryInterval()">+</button>
            </div>
            <!-- Dishes -->
            <div class="half-interactive-area">
                <span class="icon-dishwashing"></span>
                <button class="cal-button-short" onclick="reduceDishwashingNumload()">-</button>
                <input class="calculator-answer-textinput-short" id="np-cal-freq-dishwashing-numload-textinput"
                    type="number" min="1" max="366">
                <button class="cal-button-short" onclick="addDishwashingNumload()">+</button>
                <span class="cal-text-between-buttons"> LOADS PER </span>
                <button class="cal-button-short" onclick="reduceDishwashingInterval()">-</button>
                <select class="calculator-answer-textinput-short" id="np-cal-freq-dishwashing-interval-dropdown">
                    <!-- Options are populated with functions -->
                </select>
                <button class="cal-button-short" onclick="addDishwashingInterval()">+</button>
            </div>

        </div>
        <div class="calculator-button-container">
            <button class="primary-button-blue" id="cal-q2-to-q1" onclick="goToQuestion1()">BACK</button>
            <button class="primary-button-blue" id="cal-q2-to-q3" onclick="goToQuestion3()">NEXT</button>
        </div>
    </div>

    <!-- Question 3 -->
    <!-- Ask the user about the type of detergents used (powder, liquid, capsule) -->
    <div class="calculator-content" id="np-cal-ptype">
        <div class="calculator-progress-bar-background">
            <div class="calculator-progress-bar" style="width: 75%">75%</div>
        </div>
        <div class="calculator-progress-number">Question 3 / 3</div>
        <hr class="horizontal-line" />
        <div class="calculator-question">What type of detergent do you use?</div>
        <div class="calculator-two-rows calculator-answer-interactive" id="calculator-ask-ptype">
            <!-- Choose Laundry detergent type with dropdown: Liquid, Powder, capsule -->
            <div class="half-interactive-area">
                <span class="icon-laundry"></span>
                <span class="cal-text-between-buttons">LAUNDRY DETERGENT TYPE:</span>
                <select class="calculator-answer-textinput-medium" id="np-cal-ptype-laundry-dropdown">
                    <!-- Options are populated with functions -->
                </select>
            </div>
            <!-- Choose Dishwashing detergent type with dropdown: Liquid, Powder, tablet (machine?) -->
            <div class="half-interactive-area">
                <span class="icon-dishwashing"></span>
                <span class="cal-text-between-buttons">DISHWASHING DETERGENT TYPE:</span>
                <select class="calculator-answer-textinput-medium" id="np-cal-ptype-dishwashing-dropdown">
                    <!-- Options are populated with functions -->
                </select>
            </div>
        </div>
        <div class="calculator-button-container">
            <button class="primary-button-blue" id="cal-q3-to-q2" onclick="goToQuestion2()">BACK</button>
            <button class="primary-button-blue" id="cal-q3-to-results" onclick="goToResults()">NEXT</button>
        </div>
    </div>

    <!-- Results -->
    <!-- Display the results from above inputs -->
    <div class="calculator-content results-background" id="np-cal-results">
        <div class="calculator-progress-bar-background">
            <div class="calculator-progress-bar" style="width: 100%">100%</div>
        </div>
        <div class="calculator-flex-results calculator-answer-interactive">
            <!-- Show results -->
            <h1>RESULTS</h1>
            <hr class="horizontal-line" />
            <div>Your household's annual Phosphate emmision is:</div>
            <h1><span id="np-cal-results-display">1</span> / Year</h1>
            <div class="spacer-half"></div>
            <div id="np-cal-results-text">Your are not supposed to read this text</div>
            <div class="spacer"></div>
            <button class="primary-button-blue" onclick="window.location.href='{{ url_for('productsearch') }}'">Check
                your products</button>
        </div>
        <div class="calculator-button-container">
            <button class="primary-button-blue" id="cal-results-to-home" onclick="goToQuestion1()">RESTART</button>
            <button class="primary-button-blue" id="cal-results-to-q1" onclick="goToHomepage()">HOME</button>
        </div>
    </div>
</div>

<script>
    // Declare constants, reusable outside this script tag
    const npc_people = document.getElementById('np-cal-people');
    const npc_people_val = document.getElementById('np-cal-people-textinput');
    const npc_people_icons = document.getElementById('calculator-ask-people-icons');

    const npc_freq = document.getElementById('np-cal-freq');
    const npc_freq_laundry_numload_val = document.getElementById('np-cal-freq-laundry-numload-textinput');
    const npc_freq_laundry_interval = document.getElementById('np-cal-freq-laundry-interval-dropdown');
    const npc_freq_dishwashing_numload_val = document.getElementById('np-cal-freq-dishwashing-numload-textinput');
    const npc_freq_dishwashing_interval = document.getElementById('np-cal-freq-dishwashing-interval-dropdown');
    const npc_freq_interval_options = new Array('day', 'week', 'month', 'year');

    const npc_ptype = document.getElementById('np-cal-ptype');
    const npc_ptype_laundry = document.getElementById('np-cal-ptype-laundry-dropdown');
    const npc_ptype_dishwashing = document.getElementById('np-cal-ptype-dishwashing-dropdown');
    const npc_ptype_options = new Array('Liquid', 'Powder', 'Tablet/Pod');

    const npc_results = document.getElementById('np-cal-results');
    const npc_results_display = document.getElementById('np-cal-results-display');
    const npc_results_text_and_advice = document.getElementById('np-cal-results-text');
    let npc_results_higher_than_average = false;

    // Script for switching between screens, HOME <- q1 <-> q2 <-> q3 -> RESULTS
    document.addEventListener('DOMContentLoaded', function () {
        // Initialise which questions gets asked
        // Use DISPLAY : FLEX
        npc_people.style.display = "flex";
        npc_freq.style.display = "none";
        npc_ptype.style.display = "none";
        npc_results.style.display = "none";

        // Q1 PEOPLE
        // Set default number of colored man to 1 and uncolored man to 4
        npc_people_val.value = 1;
        changePeopleIcons();

        // Q2 FREQ
        // Populate the dropdown lists
        function populateIntervalDropdownList(dropdownelement) {
            npc_freq_interval_options.forEach((option, index) => {
                const opt = document.createElement('option');
                opt.value = index;
                opt.textContent = option;
                dropdownelement.appendChild(opt);
            });
        };
        populateIntervalDropdownList(npc_freq_laundry_interval);
        populateIntervalDropdownList(npc_freq_dishwashing_interval);
        // Set default number of loads to 1
        npc_freq_laundry_numload_val.value = 1;
        npc_freq_dishwashing_numload_val.value = 1;
        // Set default intervals to 0 (day)
        npc_freq_laundry_interval.value = 0;
        npc_freq_dishwashing_interval.value = 0;

        // Q3 PTYPE
        // Populate the dropdown lists
        function populateProductTypeDropdownList(dropdownelement) {
            npc_ptype_options.forEach((option, index) => {
                const opt = document.createElement('option');
                opt.value = index;
                opt.textContent = option;
                dropdownelement.appendChild(opt);
            });
        };
        populateProductTypeDropdownList(npc_ptype_laundry);
        populateProductTypeDropdownList(npc_ptype_dishwashing);

    });
</script>

<script>
    // Script that calculates the result and displays.
    // Changes unit (g or kg) depending on number
    function calculation_results() {
        // Initialise the result
        let calResult = 1;
        const npc_ans_q1 = calculation_people(); // person
        const npc_ans_q2a = calculation_frequency_laundry(); // times/year
        const npc_ans_q2b = calculation_frequency_dishwashing(); // times/year
        const npc_ans_q3a = calculation_ptype_laundry(); // kg/person/times <- times as in usage
        const npc_ans_q3b = calculation_ptype_dishwashing(); // kg/person/times <- times as in usage
        const npc_annual_p_laundry = npc_ans_q2a * npc_ans_q3a; // kg/person/year
        const npc_annual_p_dishwashing = npc_ans_q2b * npc_ans_q3b; // kg/person/year

        // The mathematical esimation model of Phosphate emissions
        calResult = npc_ans_q1 * ((npc_ans_q2a * npc_ans_q3a) + (npc_ans_q2b * npc_ans_q3b));

        // Create the comparision baseline with 2010 data, as the P in detergent data
        //   is also taken from 2010 data.
        // Amount of Phosphorus in both Laundry and Dishwashing,
        //   multiplied by the amount of people,
        //   as the original unit is kg per capita per year
        //                         = kg per (capita x year)
        // Average use of P in Laundry detergents of 2010 in Japan and Oceania (kg/cap/year) = 0.18
        // Average use of P in Laundry detergents of 2010 in Japan and Oceania (kg/cap/year) = 0.11
        const npc_comparision = npc_ans_q1 * (0.18 + 0.11);
        npc_results_higher_than_average = (calResult > npc_comparision);

        // Prepare the innerHTML content
        let resultsText = "Your phosphate emission is <b>higher than average</b>. Indicating that your washing habits " +
                            "contributes to an increased Phosphate output.<br>";
        let recommendationPromise;

        if (npc_results_higher_than_average) {
            // higher than 2010 average
            if (npc_annual_p_laundry > 0.18) {
                // Laundry is HIGH
                if (npc_annual_p_dishwashing > 0.11) {
                    // Laundry is HIGH AND dishwasher is HIGH
                    resultsText += "Both Phosphorus from <b>Laundry AND dishwasher activities are BOTH HIGH</b>.<br>";
                    recommendationPromise = recommendationTable(1, 1);
                } else {
                    // Laundry is HIGH BUT dishwashing is LOW
                    resultsText += "Phosphorus from <b>Laundry is HIGH</b> BUT dishwashing is LOW.<br>";
                    recommendationPromise = recommendationTable(1, 0);
                }
            } else {
                if (npc_annual_p_dishwashing > 0.11) {
                    // Laundry is LOW BUT dishwasher is HIGH
                    resultsText += "Phosphorus from Laundry is LOW BUT <b>dishwasher is HIGH<b><br>";
                    recommendationPromise = recommendationTable(0, 1);
                } else {
                    // Laundry is LOW AND dishwashing is LOW
                    resultsText += "Phosphorus from Laundry is LOW AND dishwashing is LOW<br>";
                    recommendationPromise = recommendationTable(0, 0);
                }
            }
        } else {
            // Lower than 2010 average
            resultsText = "Your phosphate emission is <b>lower than average</b>, indicating that your washing habits " +
                "are contributing positively to the environment.<br>" +
                "Continue to maintain these practices, and consider further reducing your impact " +
                "by using phosphate-free cleaning products.";
        }

        // Display the results text first
        npc_results_text_and_advice.innerHTML = resultsText + "To help reduce your environmental impact, consider adjusting your washing habits " + "and using low phosphate products such as these:";

        // Handle the recommendation table asynchronously
        if (recommendationPromise) {
            recommendationPromise.then(recommendationHTML => {
                npc_results_text_and_advice.innerHTML += recommendationHTML; // Append the recommendations
            });
        }

        // The result is displayed in "kg / Year"
        // if result is less than 1kg, change unit to g
        if (calResult < 1) {
            calResult *= 1000;
            npc_results_display.innerHTML = calResult.toFixed(3) + " g";
        } else {
            npc_results_display.innerHTML = calResult.toFixed(3) + " kg";
        }
    }
</script>

<script>
    // Script for the frequency question (return a multiplier according to people, 1x for 1 people households etc.)
    function calculation_people() {
        return Math.max(Number(npc_people_val.value), 1);
    }

    // Script for changing the number of standing-man and standing-man-outline according to Q1 answer
    function changePeopleIcons() {
        let npc_people_ans = npc_people_val.value;
        let npc_people_icons_results = '';
        // min 1, max 5
        if (npc_people_ans < 1) {
            npc_people_ans = 1;
        }
        if (npc_people_ans > 5) {
            npc_people_ans = 5;
        }
        for (let i = 1; i <= 5; i++) {
            if (i <= npc_people_ans) {
                npc_people_icons_results += '<span class="icon-coloredman"></span>'; // Add colored man
            } else {
                npc_people_icons_results += '<span class="icon-outlinedman"></span>'; // Add uncolored man
            }
        }
        npc_people_icons.innerHTML = npc_people_icons_results;
    }

    // Script for adding number of people in household by 1
    function addPeople() {
        if (npc_people_val.value < 5) {
            npc_people_val.value = parseInt(npc_people_val.value) + 1;
            changePeopleIcons();
        }
    }
    // Script for reducing number of people in household by 1
    function reducePeople() {
        if (npc_people_val.value > 1) {
            npc_people_val.value = parseInt(npc_people_val.value) - 1;
            changePeopleIcons();
        }
    }
</script>

<script>
    // Script for the frequency question (combine the 4 parts into one number)
    function calculation_frequency_laundry() {
        // get npc_freq_laundry_numload_val.value
        const npc_anscal_laundry_numload = Number(npc_freq_laundry_numload_val.value);
        // get npc_freq_laundry_interval_val multiply by 365/52/12/1
        const npc_anscal_laundry_interval = Number(npc_freq_laundry_interval.value);
        // return the multiplied number
        if (npc_anscal_laundry_interval == 0) {
            // npc_freq_interval_options[0] is 'day'
            return npc_anscal_laundry_numload * 365;
        } else if (npc_anscal_laundry_interval == 1) {
            // npc_freq_interval_options[1] is 'week'
            return npc_anscal_laundry_numload * 52;
        } else if (npc_anscal_laundry_interval == 2) {
            // npc_freq_interval_options[2] is 'month'
            return npc_anscal_laundry_numload * 12;
        } else if (npc_anscal_laundry_interval == 3) {
            // npc_freq_interval_options[3] is 'year'
            return npc_anscal_laundry_numload;
        }
        // In case people broke the system and went outbound
        return 1;
    }
    function calculation_frequency_dishwashing() {
        // get npc_freq_dishwashing_numload_val.value
        // get npc_freq_dishwashing_interval_val multiply by 365/52/12/1
        // return the multiplied number
        // get npc_freq_dishwashing_numload_val.value
        const npc_anscal_dishwashing_numload = Number(npc_freq_dishwashing_numload_val.value);
        // get npc_freq_dishwashing_interval_val multiply by 365/52/12/1
        const npc_anscal_dishwashing_interval = Number(npc_freq_dishwashing_interval.value);
        // return the multiplied number
        if (npc_anscal_dishwashing_interval == 0) {
            // npc_freq_interval_options[0] is 'day'
            return npc_anscal_dishwashing_numload * 365;
        } else if (npc_anscal_dishwashing_interval == 1) {
            // npc_freq_interval_options[1] is 'week'
            return npc_anscal_dishwashing_numload * 52;
        } else if (npc_anscal_dishwashing_interval == 2) {
            // npc_freq_interval_options[2] is 'month'
            return npc_anscal_dishwashing_numload * 12;
        } else if (npc_anscal_dishwashing_interval == 3) {
            // npc_freq_interval_options[3] is 'year'
            return npc_anscal_dishwashing_numload;
        }
        // In case people broke the system and went outbound
        return 1;
    }

    // Script for adding number of loads of laundry by 1
    // Upper limit set to 366, logical maximum if interval is 'year'.
    // I do not want to deal with other limits for days or weeks, since they are so small and require information from interval
    function addLaundryNumload() {
        if (npc_freq_laundry_numload_val.value < 366) {
            npc_freq_laundry_numload_val.value = parseInt(npc_freq_laundry_numload_val.value) + 1;
        }
    }
    // Script for reducing number of loads of laundry by 1
    function reduceLaundryNumload() {
        if (npc_freq_laundry_numload_val.value > 1) {
            npc_freq_laundry_numload_val.value = parseInt(npc_freq_laundry_numload_val.value) - 1;
        }
    }

    // Script for increasing the interval of laundry by 1 level
    function addLaundryInterval() {
        if (npc_freq_laundry_interval.value < 3) {
            npc_freq_laundry_interval.value = parseInt(npc_freq_laundry_interval.value) + 1;
        }
    }
    // Script for reducing the interval of laundry by 1 level
    function reduceLaundryInterval() {
        if (npc_freq_laundry_interval.value > 0) {
            npc_freq_laundry_interval.value = parseInt(npc_freq_laundry_interval.value) - 1;
        }
    }

    // Script for adding number of loads of dishwashing by 1
    // Upper limit set to 366, logical maximum if interval is 'year'.
    // I do not want to deal with other limits for days or weeks, since they are so small and require information from interval
    function addDishwashingNumload() {
        if (npc_freq_dishwashing_numload_val.value < 366) {
            npc_freq_dishwashing_numload_val.value = parseInt(npc_freq_dishwashing_numload_val.value) + 1;
        }
    }
    // Script for reducing number of loads of dishwashing by 1
    function reduceDishwashingNumload() {
        if (npc_freq_dishwashing_numload_val.value > 1) {
            npc_freq_dishwashing_numload_val.value = parseInt(npc_freq_dishwashing_numload_val.value) - 1;
        }
    }

    // Script for increasing the interval of dishwashing by 1 level
    function addDishwashingInterval() {
        if (npc_freq_dishwashing_interval.value < 3) {
            npc_freq_dishwashing_interval.value = parseInt(npc_freq_dishwashing_interval.value) + 1;
        }
    }
    // Script for reducing the interval of dishwashing by 1 level
    function reduceDishwashingInterval() {
        if (npc_freq_dishwashing_interval.value > 0) {
            npc_freq_dishwashing_interval.value = parseInt(npc_freq_dishwashing_interval.value) - 1;
        }
    }
</script>

<script>
    // Script for the PTYPE question
    // Take Laundry Powder as example:
    //     - 25 g Phosphates per 1kg product (median)
    //     - 126 g product per use
    //       = 0.126 kg product per use
    // Multiply the two together (after unit conversion) will get us:
    //     - 3.15 g Phosphates per use
    //       = 0.00315 kg Phosphates per use
    // As we asked user how frequently they do laundry or dishwashing, we ignore the frequency in the data
    // The same goes for dishwashing
    //
    // REFERENCE: const npc_ptype_options = new Array('Liquid','Powder','Tablet/Pod');
    function calculation_ptype_laundry() {
        // get npc_ptype_laundry.value
        const npc_anscal_ptype_laundry = Number(npc_ptype_laundry.value);
        if (npc_anscal_ptype_laundry == 0) {
            // npc_ptype_options[0] is 'Liquid'
            return 46 * 0.09 / 1000;
        } else if (npc_anscal_ptype_laundry == 1) {
            // npc_ptype_options[1] is 'Powder'
            return 55 * 0.126 / 1000;
        } else if (npc_anscal_ptype_laundry == 2) {
            // npc_ptype_options[2] is 'Tablet/Pod'
            return (46 + 0.2) * (0.09 + 0.075) / 1000;
        }
        // In case people broke the system and went outbound, return the highest number
        // (Laundry powder with max concentration - 55 g Phosphate per 1kg product)
        // (126 g product per use)
        return 55 * 0.126 / 1000;
    }
    function calculation_ptype_dishwashing() {
        // get npc_ptype_dishwashing.value
        // return the fixed value from the table
        // get npc_ptype_laundry.value
        const npc_anscal_ptype_dishwashing = Number(npc_ptype_dishwashing.value);
        if (npc_anscal_ptype_dishwashing == 0) {
            // npc_ptype_options[0] is 'Liquid'
            return 0.01 * 0.0105 / 1000;
        } else if (npc_anscal_ptype_dishwashing == 1) {
            // npc_ptype_options[1] is 'Powder'
            return 53 * 0.06 / 1000;
        } else if (npc_anscal_ptype_dishwashing == 2) {
            // npc_ptype_options[2] is 'Tablet/Pod'
            return 29 * 0.02 / 1000;
        }
        // In case people broke the system and went outbound
        return 53 * 0.06 / 1000;
    }

</script>

<script>
    // Script for the navigation buttons
    // 1. BACK button on Q1 OR HOME button on Results - Bring user back to homepage
    function goToHomepage() {
        window.location.href = '{{ url_for('index') }}';
    }

    // 2. BACK button on Q2 - Bring user to Q1
    function goToQuestion1() {
        npc_people.style.display = "flex";
        npc_freq.style.display = "none";
        npc_ptype.style.display = "none";
        npc_results.style.display = "none";
    }

    // 3. NEXT button on Q1 OR BACK button on Q3 - Bring user to Q2
    function goToQuestion2() {
        npc_people.style.display = "none";
        npc_freq.style.display = "flex";
        npc_ptype.style.display = "none";
        npc_results.style.display = "none";
    }

    // 4. NEXT button on Q2 - Bring user to Q3
    function goToQuestion3() {
        npc_people.style.display = "none";
        npc_freq.style.display = "none";
        npc_ptype.style.display = "flex";
        npc_results.style.display = "none";
    }

    // 5. NEXT button on Q3 - Bring user to RESULTS
    function goToResults() {
        npc_people.style.display = "none";
        npc_freq.style.display = "none";
        npc_ptype.style.display = "none";
        npc_results.style.display = "flex";

        calculation_results();
    }
</script>

<script>
    // Creates recommendation table from database data
    // Returns String, of the html code of a table
    function recommendationTable(LaundryHigh, DishwashingHigh) {
        return fetch('/NP-Calculator', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({})
        })
            .then(response => response.json())
            .then(data => {
                const pfdr_laundry = data.data_laundry;
                const pfdr_dishwashing = data.data_dishwashing;

                if (LaundryHigh && DishwashingHigh) {
                    return createTable(pfdr_laundry.concat(pfdr_dishwashing));
                } else if (LaundryHigh) {
                    return createTable(pfdr_laundry);
                } else if (DishwashingHigh) {
                    return createTable(pfdr_dishwashing);
                } else {
                    return ""; // Both are LOW
                }
            })
            .catch(error => {
                console.error('Error:', error);
                return "<p>Error fetching recommendations. Please try again later.</p>";
            });
    }

    // Return a string of table generated from the Object (JSON)
    function createTable(jsonObject) {
        let raw_code = "<table border='1'><thead><tr><th>Category</th><th>Brand</th><th>Name</th></tr></thead><tbody>";
        // Check if jsonObject is an array of arrays (for both laundry and dishwashing)
        if (Array.isArray(jsonObject)) {
            console.log("createTable jsonObject is " + jsonObject) // I added this line to check what jsonObject is
            // Iterate over the array of objects
            jsonObject.forEach(item => {
                raw_code += `<tr>
                <td>${item.prod_cat}</td>
                <td>${item.prod_brand}</td>
                <td>${item.prod_name}</td>
            </tr>`;
            });
        } else {
            console.error("Expected an array but received:", jsonObject);
        }

        raw_code += "</tbody></table>";
        return raw_code; // Return the generated HTML string
    }
</script>

{% endblock %}