<!-- templates/p-free-detergent-register.html -->
{% extends "base_v2.html" %}

{% block title %}Phosphate Free Detergent Register - AquaGuard{% endblock %}

{% block head %}
<!-- Add scripts, css files or other sort of header stuff here -->
<style>
    .prodcat_inactive {
        color: black;
        cursor: pointer;
        background-color: #7da1cc;
        position: relative;
        display: inline-block;
    }

    .prodcat_inactive::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 80%;
        height: 2px;
        background-color: black;
        transform: translate(-50%, -50%);
    }

    .resultsHeader {
        width: 20vw;
        border-bottom: 2px solid black;
    }

    #resultsTableBody td {
        border-bottom: 2px solid #ccc;
    }
</style>
{% endblock %}

{% block content %}
<div class="spacer"></div>
<p>This is a test page! We do not really care about coral reefs.</p>
<p>Below is the data from Phosphate_Free_Detergent_Register</p>
<p>Click one of these category buttons to filter the table by running queries</p>
<form method="POST" id="prodcat_form">
    <!-- Category 1 -->
    <button class="primary-button-blue" type="button" onclick="toggleProdCat(this)" name="categories"
        value="Bathroom">Bathroom</button>
    <!-- Category 2 -->
    <button class="primary-button-blue" type="button" onclick="toggleProdCat(this)" name="categories"
        value="Car Wash Detergent">Car Wash Detergent</button>
    <!-- Category 3 -->
    <button class="primary-button-blue" type="button" onclick="toggleProdCat(this)" name="categories"
        value="Dishwasher">Dishwasher POWDER/CAPSULE</button>
    <!-- Category 4 -->
    <button class="primary-button-blue" type="button" onclick="toggleProdCat(this)" name="categories"
        value="Dishwashing">Dishwashing LIQUID</button>
    <!-- Category 5 -->
    <button class="primary-button-blue" type="button" onclick="toggleProdCat(this)" name="categories"
        value="Fibre Cloths">Fibre Cloths</button>
    <!-- Category 6 -->
    <button class="primary-button-blue" type="button" onclick="toggleProdCat(this)" name="categories"
        value="General">General</button>
    <!-- Category 7 -->
    <button class="primary-button-blue" type="button" onclick="toggleProdCat(this)" name="categories"
        value="Laundry">Laundry</button>
    <!-- Category 8 -->
    <button class="primary-button-blue" type="button" onclick="toggleProdCat(this)" name="categories"
        value="Toilet">Toilet</button>
    <!-- PLACEHOLDER so db query always asks for something -->
    <button class="primary-button-blue" style="display: none;" type="button" onclick="toggleProdCat(this)"
        name="categories" value="PLACEHOLDER">PLACEHOLDER</button>
</form>

<div>
    RESULTS HERE
    <table id="resultsTable">
        <thead>
            <tr>
                <th class="resultsHeader">Category</th>
                <th class="resultsHeader">Brand</th>
                <th class="resultsHeader">Product Name</th>
            </tr>
        </thead>
        <tbody id="resultsTableBody">
            <tr>
                <!-- Row data is populated here -->
            </tr>
        </tbody>
    </table>
</div>

<div class="spacer"></div>

<!-- JS Script -->
<script src="{{ url_for('static', filename='LeoScripts/multiselect_dbquery_for_pfdr.js') }}"></script>
<!-- JS that uses Jina2 (the {{}} ones) cannot be rendered properly if placed in .js file -->
<script>
    function onpageload() {
        const dataFromServer = {{ rows| tojson }};
        // You can now use JSON type 'dataFromServer' in JavaScript
        console.log("Data fetched from server:", dataFromServer);
        updateTable(dataFromServer)
}
</script>
{% endblock %}