<!-- templates/password.html -->
<!-- Code mainly copied from base.html, but removed nav links and most jinja2 things -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PASSWORD REQUIRED - AquaGuard{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Roboto Font code -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script>
        window.onload = function() {
            var error = "{{ error }}";
            if (error) {
                alert(error);
            }
        };
    </script>
</head>
<body>
    <!-- Shared Header -->
    <header>
        <nav>
            <div class="nav-container">
                <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='Melbourne AquaGuard Logo.png') }}" alt="Logo" class="logo">
                </a>
                <ul class="nav-links">
                    <li><a href="{{ url_for('index') }}">Login</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Main Content Block -->
    <main class="page-title">
        <div class="spacer"></div>
        <h2>Enter Password</h2>
        <form method="POST" action="{{ url_for('password') }}">
            <input type="password" name="password" required autofocus>
            <button class="primary-button" type="submit">Submit</button>
        </form>
    </main>
    <!-- Optional Footer -->
    <footer>
        <p>© 2024 Melbourne AquaGuard</p>
        <p><a href="https://mail.google.com/mail/?view=cm&fs=1&to=twon0024@student.monash.edu">Contact Us</a></p>
        <p><a href="{{ url_for('privacypolicy') }}">Privacy Policy</a></p>
    </footer>
</body>
</html>
