<!-- templates/npcalculator.html -->
{% extends "base_v2.html" %}

{% block title %}NP Calculator - AquaGuard{% endblock %}

{% block content %}
<div class="spacer"></div>

<h1 class="page-title">Explore Fish Population in Melbourne</h1>

<div class="spacer-quarter"></div>

<p class="page-title-subtext">Curious about fish populations near you?</p>

<p class="page-title-subtext">Click on any location on the map to discover the fish species present and see how nutrient
    pollution affects them over time.</p>

<p class="page-title-subtext">Let's work together to understand and protect our local waterways!</p>

{% endblock %}