<!-- templates/product_lookup.html -->
{% extends "base.html" %}

{% block title %}Product Lookup - Melbourne WaterGuard{% endblock %}

{% block content %}

<div class="spacer"></div>

<!-- Product Lookup and report -->
<div class="container-40">
    <div class="content twotext-to-oneimage">
        <div class="text-section">
            <p class="text-section-title">How we do</p>
            <h2 class="text-section-question">Find out if you are using Nutrient Pollution-Free Cleaning Products</h2>
            <p class="text-section-content">Get to know cleaning products that you use, by </p>
        </div>
        <div class="image-section">
            <img src="../static/ProductSearchPage_image.png" />
        </div>
    </div>
</div>

<div class="spacer"></div>

<div class="page-title-container">
    <div class="spacer"></div>
    <h1 class="page-title">Find Eco-friendly Cleaning Products</h1>
    <div class="spacer-quarter"></div>
    <p class="page-title-subtext">Search by Product name or Scan the Barcode.</p>
    <div class="spacer-half"></div>

    <form action="{{ url_for('productsearch') }}" method="POST" id="product-search-form">
        <div class="search-container">
            <!-- Search by keywords -->
            <input type="text" name="keyword" placeholder="Search by product name or brand...">
            <button class="primary-button" type="submit" id="product-name-search-button">Search</button>
        </div>
        <div class="search-container">
            <!-- Barcode Scanner -->
            <p for="barcodeScanner">Or Search by scanning Barcode: </p>
            <button class="primary-button" id="product-barcode-scan-button" type="button">Scan Barcode</button>
            <button class="secondary-button" id="product-barcode-stop-button" type="button" style="display: none;">Stop
                camera</button>
            <!-- hidden input to store scanned barcode -->
            <input type="hidden" id="barcode" name="barcode">
        </div>
        <div class="container-40" style="display: block;">
            <!-- Code to see scanned barcode -->
            <p>Detected Barcode: <span id="barcode-result">None</span></p>
            <!-- Barcode scanning video element -->
            <video id="video-preview" width="300" height="200" style="border: 1px solid black; visibility: visible;"
                autoplay></video>
        </div>
    </form>

    <div class="spacer"></div>
</div>

<div class="spacer"></div>

<!-- START OF DEBUG USE - RESULT CONTAINER -->
<div class="container">
    <!-- Display the keyword -->
    <p>Search keyword: {{ keyword }}</p>
    <!-- Optionally, display the scanned barcode if it exists -->
    {% if barcode %}
    <p>Scanned barcode: {{ barcode }}</p>
    {% else %}
    <p>No barcode scanned.</p>
    {% endif %}
</div>
<!-- END OF DEBUG USE - RESULT CONTAINER -->



<!-- START OF RESULTS DISPLAY -->
<div>
    <!--
        1. send GET request to 
        https://world.openfoodfacts.net/api/v2/product/{barcode}
            OR
        https://world.openfoodfacts.org/cgi/search.pl?search_terms={keyword}&search_simple=1&action=process&json=1
     -->
    <script>
        // Search by barcode, uses API v2
        const apiUrl_barcode = "https://world.openfoodfacts.net/api/v2/product/";
        let searchingBarcode = {% if barcode %}{{ barcode | tojson }}{% else %}null{% endif %};
        // Search by keyword, uses API v1 (search_term)
        const apiUrl_keyword_bef = "https://world.openfoodfacts.org/cgi/search.pl?search_terms=";
        const apiUrl_keyword_aft = "&search_simple=1&action=process&json=1";
        let searchingKeyword = {% if keyword %}{{ keyword | tojson }}{% else %}null{% endif %};
        // Combine apiUrl_keyword into full ApiUrl
        const apiUrl_keyword_full = apiUrl_keyword_bef + encodeURIComponent(searchingKeyword) + apiUrl_keyword_aft;

        // Function to fetch data from the API
        function fetchData() {
            if (searchingBarcode && searchingBarcode.trim() !== '') {
                alert(searchingBarcode)
            }
            if (searchingKeyword && searchingKeyword.trim() !== '') {
                alert(searchingKeyword)
            }
        }


    </script>


    <!-- Does not execute API call if barcode or keyword is null -->
    {% if barcode or keyword %}
    <script>
        fetchData();
    </script>
    {% endif %}
</div>
<!-- END OF RESULTS DISPLAY -->



<!-- ===== ===== ===== ===== ===== ===== Scripts below ===== ===== ===== ===== ===== ===== -->

<!-- Quagga browser library -->
<script src="https://cdn.jsdelivr.net/npm/@ericblade/quagga2/dist/quagga.min.js"></script>

<script>
    // Barcode Scanning code
    document.addEventListener('DOMContentLoaded', function () {
        const scanBarcodeBtn = document.getElementById('product-barcode-scan-button');
        const stopBarcodeBtn = document.getElementById('product-barcode-stop-button');
        const barcodeInput = document.getElementById('barcode');
        const searchForm = document.getElementById('product-search-form');
        const videoElement = document.getElementById('video-preview');
        const scanResult = document.getElementById('barcode-result');
        const barcodeStorage = document.getElementById('barcode');

        // variable to store if user has clicked "Scan" and camera has not detected a barcode.
        let isScanning = false;

        // For start-stopping camera
        let mediaStream = null;


        // // Test camera
        // if (videoElement) {
        //     // Set up video constraints
        //     navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment" } })
        //         .then(stream => {
        //             videoElement.srcObject = stream;
        //         })
        //         .catch(error => {
        //             console.error("Error accessing camera: ", error);
        //         });
        // } else {
        //     console.error("Video element not found");
        // }

        // Function to start the camera
        function startCamera() {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(stream => {
                    mediaStream = stream; // Store the media stream
                    videoElement.srcObject = stream; // Set the video source
                })
                .catch(err => {
                    console.error('Error accessing the camera: ', err);
                });
        }

        // Function to stop the camera
        function stopCamera() {
            if (mediaStream) {
                // Stop all tracks of the media stream
                mediaStream.getTracks().forEach(track => track.stop());
                videoElement.srcObject = null; // Clear the video source
                mediaStream = null; // Clear the media stream reference
            }
        }

        // On default stop camera
        stopCamera();

        // Initialize Quagga
        function initQuagga() {
            startCamera();

            Quagga.init({
                inputStream: {
                    name: "Live",
                    type: "LiveStream",
                    target: videoElement,
                },
                decoder: {
                    readers: ["code_128_reader"] // Specify the barcode readers you want to use
                }
            }, function (err) {
                if (err) {
                    console.error("Quagga initialization error: ", err);
                    return;
                }
                console.log("Quagga initialized successfully.");
                Quagga.start();
            });

            Quagga.onDetected(function (data) {
                console.log("Barcode detected: ", data);
                barcodeInput.value = data.codeResult.code; // Set the hidden input with barcode value
                scanResult.textContent = data.codeResult.code; // Display the barcode result
                barcodeStorage.value = data.codeResult.code; // Store the barcode result to form value
                stopQuagga(); // Stop scanning after detection
                stopCamera(); // Stop camera after detection
                isScanning = false; // Update scanning status
                searchForm.submit(); // Submit the form
            });
        }

        // Function to stop camera and Quagga manually
        function stopQuagga() {
            Quagga.stop();
            stopCamera();
            isScanning = false;
            scanBarcodeBtn.style.display = "block";
            stopBarcodeBtn.style.display = "none";
        }

        // Button onclick to start Quagga, also hides "scan" button and show "stop" button
        scanBarcodeBtn.addEventListener('click', function () {
            if (!isScanning) {
                isScanning = true;
                scanBarcodeBtn.style.display = "none";
                stopBarcodeBtn.style.display = "block";
                initQuagga();
            }
        });

        // Button onclick to stop Quagga, also hides "scan" button and show "stop" button
        stopBarcodeBtn.addEventListener('click', function () {
            isScanning = false;
            stopQuagga();
        });



    });


</script>

{% endblock %}