<!-- templates/testpage-copy.html -->
{% extends "base_v2.html" %}

{% block title %}Test Page - Melbourne WaterGuard{% endblock %}

{% block content %}
<div class="spacer"></div>

<p>This is a test page! We do not really care about coral reefs or water quality.</p>
<p>This is a page that does not use anything from database.db, for debugging purposes</p>

<p><br>Below is a test div for product search results</p>

<div class="container education-page">
    <div id="api-result">
        <div class="product">
            <div class="product-left">
                <div class="product-image">
                    <img src="{{ url_for('static', filename='AQ.png') }}" alt="productName" />
                </div>
            </div>
            <div class="product-right">
                <div class="product-name">
                    <h2>productName</h2>
                </div>
                <div class="product-ingredients">
                    <p>ingredientsText</p>
                </div>
                <div class="product-nitrate-or-phosphate">
                    <p>productNitrateOrPhosphate</p>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- test quiz -->
<div id="quiz-container">
    <!-- 进度条 -->
    <div id="progress-bar">
      <progress id="progress" value="0" max="100"></progress>
    </div>

    <!-- 问题 1 -->
    <div class="question" id="question-1" data-correct="2" style="display: block;">
      <p>問題 1: 這是什麼動物？</p>
      <ul>
        <li><button class="option" data-index="0">狗</button></li>
        <li><button class="option" data-index="1">貓</button></li>
        <li><button class="option" data-index="2">老鼠</button></li>
      </ul>
    </div>

    <!-- 問題 2 -->
    <div class="question" id="question-2" data-correct="0" style="display: none;">
      <p>問題 2: 這是一個...</p>
      <ul>
        <li><button class="option" data-index="0">蘋果</button></li>
        <li><button class="option" data-index="1">香蕉</button></li>
        <li><button class="option" data-index="2">橘子</button></li>
      </ul>
    </div>

    <!-- 按鈕: 下一題 -->
    <button id="next-question" style="display: none;">下一題</button>
    
    <!-- 結果顯示區域 -->
    <div id="result"></div>
</div>


{% endblock %}