<!-- templates/testpage.html -->
{% extends "base.html" %}

{% block title %}Test Page - Melbourne WaterGuard{% endblock %}

{% block content %}
    <p>This is a test page! We do not really care about coral reefs.</p>
    <p>Below is a row from the your_table I made as a sample code</p>
    <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Value</th>
        </tr>
        {% for row in rows %}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
