<!-- templates/testpage.html -->
{% extends "base.html" %}

{% block title %}Water Quality Map - Melbourne WaterGuard{% endblock %}

{% block content %}
    <div class="spacer"></div>
    <h1 class="page-title">Explore Water Quality in Your Area</h1>
    <div class="spacer-half"></div>
    <p class="page-title-subtext">Curious about water quality near you? Click on any location on the map to view detailed water composition information and explore the historical data for that area. Let's work together to monitor environmental health and protect our water resources.</p>

    <iframe src="https://netnet120.shinyapps.io/MelbourneWaterQualityMap/" width="100%" height="600px"></iframe>

{% endblock %}
